<h1><%= current_user.username %></h1>

<% if @user.owned_subs.empty? %>
  <h4>No subs moderated.</h4>
<% else %>
  <h4>Subs you're moderating:</h4>
  <% @user.owned_subs.each do |sub| %>
    <%= link_to "#{sub.name}", sub_url(sub) %> <br>
  <% end %>
<% end %>
<br>

<% if @user.shared_links.empty? %>
  <h4>No links submitted.</h4>
<% else %>
  <h4>Links you submitted:</h4>
  <% @user.shared_links.each do |link| %>
    <%= link.title %> <%= link_to "Edit", edit_link_url(link) %><br>
  <% end %>
<% end %>
<br>

<%= link_to "Create New Sub", new_sub_url %> <br>
<%= link_to "Submit New Link", new_link_url %>