<h3>Share a link</h3>

<form action="<%= links_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="title">Title:</label>
  <input type="text" name="link[title]" id="title"> <br>

  <label for="url">URL:</label>
  <input type="text" name="link[url]" id="title"> <br>

  <label for="description">Description:</label>
  <textarea name="link[description]" id="description" cols="30" rows="10"></textarea>

  <% unless @all_subs.empty? %>
    <h4>Select Subs:</h4>
    <% @all_subs.each do |sub| %>
      <%= sub.name %>:
      <input type="checkbox" name="link[sub_ids][]" value="<%= sub.id %>"> <br>
    <% end %>
  <% end %>

  <h4>Comment:</h4>
  <textarea name="comment[body]" id="" cols="15" rows="5"></textarea> <br>

  <input type="hidden" name="comment[author_id]" value="<%= current_user.id %>">
  <input type="hidden" name="link[owner_id]" value="<%= current_user.id %>">
  <input type="submit" value="Share Link" class="btn btn-primary">
</form>
