<h3>Link: <%= @link.title %></h3>

<strong>URL:</strong> &nbsp; <%= link_to "#{@link.url}", "http://#{@link.url}" %> <br>
<strong>Description:</strong> <br>
<pre>
  <%= @link.description %>
</pre>

<h5>Votes: <%= @total_votes %></h5>

<% unless @voted %>
  <div style="float:left; margin-right:5px;">
  <form action="<%= link_upvote_url(@link) %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="hidden" name="user_vote[vote_value]" value="1">
    <input type="hidden" name="user_vote[link_id]" value="<%= @link.id %>">
    <input type="hidden" name="user_vote[user_id]" value="<%= current_user.id %>">

    <input type="submit" value="upvote" class="btn btn-success btn-small">
  </form>
  </div>

  <form action="<%= link_downvote_url(@link) %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="hidden" name="user_vote[vote_value]" value="-1">
    <input type="hidden" name="user_vote[link_id]" value="<%= @link.id %>">
    <input type="hidden" name="user_vote[user_id]" value="<%= current_user.id %>">

    <input type="submit" value="downvote" class="btn btn-danger btn-small">
  </form>
<% end  %>

<% unless @link.subs.empty? %>
  Subs: <br>
  <ul>
    <% @link.subs.each do |sub| %>
      <li><%= sub.name %></li>
    <% end %>
  </ul>
<% end %>

<% if @link.comments_by_parent[nil] %>
  <h4>Comments:</h4>
  <% @link.comments_by_parent[nil].each do |comment| %>
    <ul><%= render "comment", :parent => comment, :comments_by_parent => @link.comments_by_parent %></ul>
  <% end %> <br>
<% end %>

<form action="<%= comments_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <textarea name="comment[body]" id="" cols="15" rows="5"></textarea>

  <input type="hidden" name="comment[author_id]" value="<%= current_user.id %>">
  <input type="hidden" name="comment[link_id]" value="<%= @link.id %>"> <br>
  <input type="submit" value="Post Comment" class="btn btn-primary">
</form> <br>


