<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <div style="float:left; margin-right:10px;">
      You are logged in as <%= link_to current_user.username, user_url(current_user) %>.
    </div>
    <form action="<%= session_url %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Logout" class="btn btn-warning btn-small">
    </form>
  <% end %>

  <%= yield %>

</body>
</html>
